footer{
    font-family: var(--fonte-raleway);
    width: 100%;
    height: auto;
    background-color: var(--very-dark-blue);
}

.rodape__imagem{
    padding: 3em 0 0 3em;
}

.parent {
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div2 ul , .div3 ul {
    list-style: none;
}

.parent__texto{
    color: #FFF;
    line-height: 2em;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
    
}

.div2 { 
    margin-left: 3em;
    grid-area: 1 / 2 / 2 / 3; 
}

.div3 { 
    margin-left: 2em;
    grid-area: 1 / 3 / 2 / 4; 
}

.div4 { 
    color: #fff;
    grid-area: 1 / 4 / 2 / 5; 
}

.fa-brands{
    margin-left: 0.5rem;
    border: 1px solid #fff;
    padding: 0.6em;
    border-radius: 100%;
}


.phone{
    background-image: url(../images/icon-phone.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px;
    padding-left: 2em;
}

.email{
    background-image: url(../images/icon-email.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px;
    padding-left: 2em;
}

@media screen and (max-width:1015px){
    .rodape__imagem{
        padding: 3em;
    }
    
    .parent{
        justify-content: space-around;
        display: flex;
        padding: 1em;
    }
}

@media screen and (max-width:650px){
    .parent{
        
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .rodape__imagem{
        display: none;
    }

    .email , .phone{
        display: none;
    }

    .div2{
        padding-top: 2em;
        margin-left: 0;
    }

    .div3{
        padding-top: 2em;
        margin-left: 0;
    }

}
