@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(cabecalho.css);
@import url(container.css);
@import url(informacoes.css);
@import url(cartao.css);
@import url(rodapefirst.css);
@import url(rodapeend.css);

:root{
    --fonte-raleway: 'Raleway';
    --fonte-opensans: 'Open Sans';
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding-top: 2em;
    font-family: var(--fonte-opensans);
}






















.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}